main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'Veteran Typewriter', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
}
h1 {
  font-size: 2em;
  font-family: 'Veteran Typewriter', sans-serif;
}
h2 {
  margin-top: 1.5em;
  font-family: 'Veteran Typewriter', sans-serif;
}
p {
  font-size: 1em;
  font-family: 'Veteran Typewriter', sans-serif;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.holder {
  display: flex;
}

.watches {
  flex-direction: column;
  padding: 1em;
  border-radius: 25px;
  border: 2px solid black;
  width: 100vh;
  height: 150px;
  margin: 1em;
  text-align: center;

}
@media (max-width: 1395px) {
  .watches {
    height: 200px;
  }
}

.Ur {
  display: flex;
  flex-direction: column;

}

.control {
  margin-top: 15vh;
}

button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #bcbcbc;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Veteran Typewriter',sans-serif;
  font-weight:300;
  color: #000000;
  text-align:center;
  transition: all 0.2s;
}
button:hover{
  color:#000000;
  background-color: #ffffff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
html {
  background: #00FF00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}